<?xml version="1.0" encoding="utf-8" ?>
<nlog internalLogFile="${basedir}/logs/nlog-internal.log"
      internalLogLevel="Warn"
      xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwConfigExceptions="true">

    <targets>
        <target xsi:type="File"
                name="file"
                fileName="${basedir}/../../../logs/errors.log"
                layout="${longdate}|${uppercase:${level}}|${logger}|${message}${onexception:inner=${newline}${exception:format=toString}}"
                keepFileOpen="false"
                encoding="utf-8" />

        <target xsi:type="Console"
                name="console"
                layout="${longdate}|${uppercase:${level}}|${logger}|${message}${onexception:inner=${newline}${exception:format=toString}}" />
    </targets>

    <rules>
        <!-- Błędy i wyżej z Microsoft.* → konsola, ale nie do pliku -->
        <logger name="Microsoft.*" minlevel="Error" writeTo="console" />

        <!-- Wszystkie własne logi od Info wzwyż → plik -->
        <logger name="*" minlevel="Info" writeTo="file" />
    </rules>
</nlog>
