@model NetProject.ViewModels.ServiceTaskViewModel
@{
    ViewData["Title"] = "Dodaj czynność serwisową";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="Create">
    <input type="hidden" asp-for="WorkOrderId" />

    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="LaborCost"></label>
        <input asp-for="LaborCost" class="form-control" />
        <span asp-validation-for="LaborCost" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Dodaj</button>
    <a asp-controller="WorkOrders" asp-action="Details" asp-route-id="@Model.WorkOrderId" class="btn btn-secondary">Anuluj</a>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
